<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools" package="com.guru.camera">
    <dist:module
            dist:instant="false"
            dist:onDemand="true"
            dist:title="@string/title_camera">
        <dist:fusing dist:include="true"/>
    </dist:module>

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".CamActivity">
        </activity>

        <provider
                android:name=".CameraProvider"
                android:exported="false"
                android:initOrder="100"
                android:multiprocess="true" android:authorities="com.guru.camera.CameraProvider"/>
    </application>

</manifest>